extends base

block content
    div#videoContainer(data-id=video._id)
        video(src=video.fileUrl)
        div#videoControls.videoControls
            div.videoControls__play
                span#play.videoControls__playBtn
                    i.fas.fa-play
                div.videoControls__time
                    span#currenTime 00:00
                    span  / 
                    span#totalTime 00:00
            input(type="range",step="1", value="0", min="0")#timeline.videoControls__timeline
            div.videoControls__volume
                input(type="range",step="0.1", value=0.5, min="0", max="1")#volume
                span#mute
                    i.fas.fa-volume-up
            div
                span#fullScreen
                    i.fas.fa-expand
    div
        h1#watch__title=video.title
    div#video__info
        div
            i.fas.fa-eye  #{video.meta.views} #{video.meta.views ===1 ? "view" : "views"}
            span=  new Date(video.createAt).toDateString()
            span=video.hashtags.join(", ")
            div#watch__description
                p=video.description
            div#watch__User-info
                img(src=video.owner.avatarUrl)#watch__avatar
                a(href=`/users/${video.owner._id}`)=video.owner.name
    div#video__menu
        if String(video.owner._id) === String(loggedInUser._id)
            a(href=`${video.id}/edit`)
                i.fas.fa-cog
            a(href=`${video.id}/delete`)
                i.fas.fa-trash

  
    div.video__comments
    if loggedIn
        div.video__comments
            form.video__comment-form#commentForm
                div
                    img(src=loggedInUser.avatarUrl)#watch__avatar
                    textarea(placeholder="Write a nice comment...")
                div#commentForm__button
                    button Add
    div.video_comments
        ul
            each comment in video.comments.reverse()
                li.video__comment(data-id=comment._id)#comment
                    div
                        img(src=comment.owner.avatarUrl)#watch__avatar
                    div#comment__content
                        span=comment.owner.name
                        span  #{comment.text}
                    if String(comment.owner._id) === String(loggedInUser._id)
                        span.deleteBtn ❌
block script 
    script(src="/static/js/videoPlayer.js")
    if loggedIn
        script(src="/static/js/commentSection.js")